/* laptop size */
@media (max-width: 1280px) {
  .pick-img {
    top: 20%;
  }
  .pick-img img {
    max-width: 64rem;
  }
  .footer-nav {
    max-width: 77rem;
  }
  .footer-nav-inner {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
  }
  /* sub-page : line-notice */
  .sub-wrap .notice-left-box {
    width: 65%;
  }
  .sub-wrap .notice-right-box {
    width: 35%;
  }
  .sub-wrap .notice-right-inner .notice-plus {
    left: 31.5rem;
  }
}

@media (max-width: 1200px) {
  .footer-awards-inner {
    max-width: 77rem;
  }
  .footer-awards-inner .pc-awards-slider {
    flex-wrap: wrap;
    justify-content: center;
  }
  .copyright-inner {
    max-width: 110rem;
  }
  .copy-menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1120px) {
  /* header */
  .logo-box {
    left: 2rem;
  }
  /* favorite section */
  .fav-text01 {
    width: 22rem;
  }
  .fav-text02 {
    width: 32rem;
  }
  .pick-img img {
    max-width: 55rem;
  }
  /* footer */
  .footer-awards-inner {
    max-width: 78rem;
  }
  .pc-awards-slider {
    display: none;
  }
  .bx-wrapper:has(.tab-awards-slider) {
    display: block;
  }
  footer .bx-wrapper {
    background-color: var(--brown_28);
  }
  /* sub-pages : title area */
  .title-inner {
    width: 95%;
  }
  /* sub-pages : line-notice */
  .sub-wrap .notice-left-inner {
    margin-left: 2rem;
  }
  /* sub-pages (coffee) : coffee banner(bxSlider) */
  .coffee-banner .pc-slide,
  .coffee-banner .pc-slide img {
    height: 30rem;
  }
  .coffee-banner .bx-controls-direction a {
    width: 4.5rem;
    height: 4.5rem;
  }
  .coffee-banner .bx-prev,
  .coffee-banner .bx-next {
    background-size: cover;
  }
  /* sub-pages : sub-content */
  .sub-content.odd p {
    right: 5%;
  }
  .sub-content.even p {
    left: 5%;
  }
  /* sub-pages (starbucks rewards) : sub-content */
  .rewards-bn-inner {
    height: 30rem;
  }
  .rewards-bn-inner > div {
    left: 5%;
  }
  .rewards-02-section p {
    width: 44rem;
  }
}
@media (max-width: 1045px) {
  /* rewards section */
  .rewards-logo {
    width: 35%;
    margin: 0 4rem;
    text-align: center;
  }
  .rewards-logo img {
    width: auto;
    max-width: 100%;
  }
  .rewards-info {
    padding-bottom: 2rem;
  }
  br.tab {
    display: block;
  }
  .rewards-signIn-box,
  .gift-btn {
    position: static;
    margin: 0;
  }
  .rewards-02-section p {
    width: 52rem;
  }
  .rewards-02-section .pc-content-txt {
    width: 80%;
  }
  .rewards-page-btn a,
  .rewards-content-btn a {
    width: 16rem;
    font-size: 1.3rem;
    padding: 0.3em 0;
  }
  /* sub-page (menu) :menu-products-area */
  .product-list {
    row-gap: 2rem;
    column-gap: 1rem;
    padding: 0 1rem;
  }
}
@media (max-width: 980px) {
  /* common style */
  .mob-view-btn {
    font-size: 2.4rem;
    text-align: center;
    width: 35vw;
    line-height: 7vw;
    border-radius: .2rem;
  }
  main {
    margin-top: 7rem;
  }
  main.active {
    transition: 0.4s;
    transform: translateX(-70%);
  }
  /* header */
  .main-header {
    border-top: none;
    border-bottom: 0.1rem solid var(--gray__dd);
  }
  .main-header-wrap{
    height: 7rem;
    align-items: center;
  }
  .logo-box{
    width: 5rem;
    margin-inline: 1.5rem;
  }
  .top_signin-wrap, .main-nav-wrap{
    display: none;
  }
  .tablet-nav{
    display: block;
  }
  .tablet-nav-list{
    display: flex;
    align-items: center;
    height: 100%;
  }
  .tablet-nav-list li {
    height: 100%;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tablet-nav-list a{
    width: 2.5rem;
    display: block;
  }
  .tablet-nav-list img {
    width: 100%;
  }
  .mob-menu-bcg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }
  .mob-menu-bcg.active {
    display: block;
  }
  .mob-menu-wrap {
    display: block;
    background-color: #000;
    color: #fff;
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    transition: 0.4s;
  }
  .mob-menu-wrap.active {
    right: 0;
  }
  .mob-menu-inner {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .mob-close-btn {
    padding: 0;
    width: 3rem;
    height: 3rem;
    border: none;
    background: none;
    position: absolute;
    top: 5rem;
    left: -12%;
    cursor: pointer;
  }
  .mob-close-btn img {
    width: 100%;
    transition: 0.7s;
  }
  .mob-menu-wrap.active .mob-close-btn img {
    transform: rotate(360deg);
  }
  .mob-search {
    background: var(--brown_2d);
    padding: 3rem 0;
    border-bottom: .1rem solid var(--gray_22);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .mob-search input {
    width: 47%;
    height: 5rem;
    border: none;
    border-radius: 0.4rem;
    padding: 1rem;
    outline-color: orange;
  }
  .mob-search-btn {
    height: 5rem;
    border: none;
    border-radius: 0.4rem;
    background: var(--gray_66);
    color: #fff;
    font-size: 2.4rem;
    font-family: inherit;
    font-weight: normal;
    padding: 0.5em 1em;
  }
  .mob-search-btn:hover {
    text-decoration: underline;
  }
  .mob-menu-list li {
    font-size: 2.6rem;
    padding: 2rem;
    border-bottom: .1rem solid var(--gray_22);
  }
  .mob-menu-item {
    background-color: var(--gray_11);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mob-menu-item:first-child {
    background-color: var(--brown_2d);
  }
  .mob-menu-item:hover {
    text-decoration: underline;
  }
  .mob-menu-item.active .menu-arr {
    transform: rotate(180deg);
  }
  .mob-submenu-list {
    display: none;
  }
  .mob-submenu-list li {
    background-color: var(--gray_18);
  }
  /* line-notice section */
  .notice-left-inner {
    margin-left: 10%;
  }
  .notice-right-inner {
    padding-left: 10%;
  }
  .promotion-area .bx-wrapper{
    max-width: 60rem;
  }
  .promotion-area .bx-viewport{
    overflow: hidden !important;
  }
  .promotion-slider .slide button{
    font-size: 1.6rem;
    padding: .6rem 2.4rem;
    bottom: 0;
}
  .promotion-area .bx-controls-direction a{
    top: 70%;
  }
  .promotion-area .bx-prev{
    left: 5%;
  }
  .promotion-area .bx-next{
    right: 5%;
  }
  /* main-visual-board section */
  .main-visual-board {
    max-height: 260rem;
    height: 270vw;
    padding-block: 10rem;
    background: url(../images/25th_top_bg_mo.png) no-repeat center / cover;
  }
  .visual-board-inner{
    flex-direction: column;
  }
  .visual-board-inner .mob-view-btn{
    display: block;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
  }
  .L-slogan-box{
    width: 100%;
  }
  .L-slogan-box img{
    width: 35%;
  }
  .L-slogan-box .view-more-btn{
    display: none;
  }
  .R-drinks-box{
    width: 100%;
  }
  .drink-img{
    opacity: 1;
    animation: none;
  }
  .drink-img:nth-child(1),
  .drink-img:nth-child(2),
  .drink-img:nth-child(3),
  .drink-img:nth-child(4){
    width: 40vw;
  }
  .drink-img:nth-child(2n-1){
    left: 0;
  }
  .drink-img:nth-child(2n){
    left: auto;
  }
  .drink-img:nth-child(1){top: 0;}
  .drink-img:nth-child(2){top: 15%; right: -10%;}
  .drink-img:nth-child(3){top: 45%;}
  .drink-img:nth-child(4){top: 65%; right: -5%; width: 45vw;}
  /* special bean section */
  .special-bean-wrap {
    height: 200vw;
    background: url("https://image.istarbucks.co.kr/upload/common/img/main/2024/2024_november_promotion_bg_mo.jpg")
      no-repeat top center/cover;
  }
  .bean-img-box,
  .bean-text-wrap {
    position: static;
    width: 100%;
    text-align: center;
    opacity: 1;
  }
  .bean-img {
    display: none;
  }
  .mob-bean-img {
    display: block;
    width: 100%;
  }
  .bean-text {
    display: none;
  }
  .mob-bean-text {
    display: block;
    width: 100%;
  }
  .bean-text-wrap .mob-view-btn {
    margin-top: 5rem;
  }
  /* reserve section */
  .reserve-inner {
    height: auto;
  }
  .reserve-title-L,
  .reserve-img-R {
    display: none;
  }
  .mob-reserve {
    display: block;
    min-width: 100%;
    position: relative;
  }
  .mob-reserve img {
    width: 100%;
    margin-bottom: -1rem;
  }
  .mob-reserve .mob-view-btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--brown_c2);
    border-color: var(--brown_c2);
  }
  .mob-reserve .mob-view-btn:hover {
    background-color: var(--brown_c2);
    color: #fff;
    text-decoration: underline;
  }
  /* favorite section */
  .favorite-wrap {
    background: url("https://image.istarbucks.co.kr/upload/common/img/main/2024/2024_december_pick_bg_mo.jpg")
      no-repeat center top;
    background-size: 100% auto;
  }
  .favorite-inner {
    height: 210vw;
  }
  .fav-text-L {
    display: none;
  }
  .fav-img-R {
    float: none;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 15rem;
  }
  .pick-img {
    position: static;
  }
  .pick-img img {
    max-width: 95%;
  }
  .mob-fav-text {
    text-align: center;
    position: absolute;
    bottom: 20vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .mob-fav-text img {
    margin-bottom: 4rem;
    opacity: 0;
  }
  .favorite-wrap.active :is(.mob-fav-text01, .mob-fav-text02, .mob-view-btn){
    animation: mob-fav-text 1s linear forwards;
  }
  .favorite-wrap.active .mob-fav-text01{
    animation-delay: 0.5s;
  }
  .favorite-wrap.active .mob-fav-text02{
    animation-delay: 1s;
  }
  .favorite-wrap.active .mob-view-btn{
    animation-delay: 1.5s;
  }
  .mob-fav-text01 {
    width: 60vw;
  }
  .mob-fav-text02 {
    width: 80vw;
  }
  .mob-fav-text .mob-view-btn {
    opacity: 0;
  }
  @keyframes mob-fav-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* magazine section */
  .reserve-magazine-inner {
    height: auto;
  }
  .magazine-text01,
  .magazine-text02 {
    display: none;
  }
  .mob-magazine-text {
    display: block;
    width: 100%;
  }
  .reserve-magazine-inner .view-more-btn {
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  /* store section */
  .store-inner {
    height: 77rem;
    flex-direction: column;
    align-items: center;
  }
  .store-inner::before {
    transform: scale(0.8);
    top: 31%;
    left: 17%;
  }
  .store-inner::after {
    transform: scale(0.7);
    bottom: -15px;
    right: 15%;
  }
  .store-img-1,
  .store-img-2 {
    transform: scale(0.85);
    transform-origin: top;
  }
  .store-img-1 {
    left: -.5rem;
  }
  .store-img-2 {
    top: 15.5rem;
    left: 24rem;
  }
  .store-text-box {
    width: 100%;
    text-align: center;
  }
  .store-text-box {
    display: none;
  }
  .mob-store-text-box {
    display: block;
    text-align: center;
  }
  .mob-store-text-box img {
    display: block;
    max-width: 44rem;
  }
  .store-wrap.active :is(.mob-store-text-1, .mob-store-text-2){
    animation: mob-store-text 1s linear forwards;
  } 
  .mob-store-text-1 {
    margin-bottom: 2rem;
    opacity: 0;
  }
  .mob-store-text-2 {
    margin-bottom: 3rem;
    opacity: 0;
  }
  @keyframes mob-store-text {
    0% {
      opacity: 0;
      transform: translateY(-20rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* footer */
  .footer-nav-col.footer-mob-add {
    display: block;
  }
  .footer-button {
    display: block;
    text-align: center;
  }
  .footer-button a {
    font-size: 2.4rem;
    font-family: Arial, Helvetica, sans-serif;
    border: .2rem solid #fff;
    border-radius: .4rem;
    width: 18%;
    padding: 0.7em 0;
    margin: .5rem;
  }

  /* sub-pages : title-area */
  .page-location {
    display: none;
  }
  /* sub-pages : line-notice */
  .sub-wrap .notice-right-inner {
    padding-left: 2rem;
    background-size: 2.5rem auto;
    display: block;
    position: relative;
  }
  .sub-wrap .notice-left-box .notice-plus,
  .sub-wrap .notice-right-inner .notice-plus {
    left: 85%;
    width: 3.2rem;
    height: 3.2rem;
    background-size: 100%;
  }
  .sub-wrap .notice-left-box .notice-plus {
    left: 90%;
  }
  .web-info-img {
    max-width: 14.5rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
  /* sub-pages (coffee) : coffee banner(bxSlider) */
  .coffee-banner .pc-slide,
  .coffee-banner .pc-slide img {
    height: 20rem;
  }
  /* sub-pages : sub-content section */
  .sub-content-inner {
    height: 20rem;
  }
  .sub-content-inner p {
    transform: translateY(-60%);
  }
  .sub-content-inner .pc-content-txt {
    max-width: 70%;
    margin-bottom: 1.5rem;
  }
  .sub-content.odd p {
    right: 5%;
  }
  .sub-content.even p {
    left: 5%;
  }
  .sub-wrap .view-more-btn {
    font-size: 1.2rem;
    padding: 0.5em 1.6em;
  }
  /* sub-page (menu) :menu-products-area */
  .product-list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
    padding: 0 1rem;
  }
  .product-list a {
    max-width: 30rem;
    max-height: 30rem;
    overflow: hidden;
  }
  /* sub-pages (starbucks rewards) : sub-content */
  .rewards-bn-inner {
    height: 20rem;
  }
  .rewards-bn-inner > div {
    left: 3%;
    transform: translateY(-40%);
  }
  .rewards-bn-txt {
    width: 30rem;
  }
  .rewards-page-btn a {
    width: 15rem;
    font-size: 1.2rem;
    padding: 0.5em 1em;
  }
  /* sub-pages (what's new) : promotion-Area */
  .promotion-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .item-img {
    max-height: 35rem;
  }
}

@media (max-width: 780px) {
  /* header */
  .mob-menu-list li {
    font-size: 2.2rem;
  }
  /* line-notice */
  .line-notice > div {
    width: 100%;
  }
  .notice-left-inner,
  .notice-right-inner {
    height: 13vw;
  }
  .notice-left-inner {
    margin-left: 3rem;
  }
  .notice-header {
    width: 7rem;
    height: 7rem;
    background: url(https://www.starbucks.co.kr/common/img/common/icon_board_speaker.png)
      no-repeat center;
    text-indent: -1000px;
  }
  .notice-contents-ani a {
    font-size: 1.8rem;
  }
  .notice-plus {
    right: 7%;
  }
  .notice-right-inner {
    justify-content: center;
    padding-left: 0;
    gap: 2rem;
  }
  .promotion-header {
    font-size: 2.6rem;
    font-weight: 700;
    width: 20rem;
  }
  /* rewards section */
  .rewards-inner {
    flex-direction: column;
    align-items: center;
  }
  .rewards-logo {
    margin-bottom: 3rem;
  }
  .rewards-contents {
    padding-right: 0;
    text-align: center;
    width: 85%;
  }
  br.tab {
    display: none;
  }
  br.mob {
    display: block;
  }
  .rewards-signIn-box a {
    width: calc((80% - 5px) / 2);
  }
  .gift-btn {
    width: 80%;
    margin-top: 1rem;
  }
  /* footer */
  footer {
    padding: 0;
  }
  .footer-nav {
    max-width: 100%;
    margin-bottom: 3rem;
  }
  .footer-nav::after {
    display: none;
  }
  .footer-nav-inner {
    grid-template-columns: 1fr;
    gap: 0;
    padding-right: 0;
  }
  .footer-nav-col {
    background-color: var(--brown_55);
  }
  .footer-nav-col p {
    position: relative;
  }
  .footer-nav-col p:hover {
    text-decoration: underline;
  }
  .footer-nav-col p::after {
    content: "";
    width: 2rem;
    height: 1.5rem;
    background: url(https://www.starbucks.co.kr/common/img/footer/mobile_footer_arrow_down.png)
      no-repeat center;
    background-size: 100% auto;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
  }
  .footer-nav-col p.active::after {
    transform: translateY(-50%) rotate(180deg);
  }
  .footer-nav-col p,
  .footer-nav-col li a {
    padding-left: 1.5rem;
  }
  .footer-nav-col p + ul {
    display: none;
  }
  .footer-nav-col ul li {
    background-color: var(--brown_64);
  }
  .footer-nav-col li:not(:last-of-type) {
    margin-bottom: 0;
  }
  .footer-nav-col li a {
    display: block;
    font-size: 1.4rem;
    line-height: 3em;
    color: var(--beige_e6);
  }
  .footer-button {
    margin-bottom: 2rem;
  }
  .footer-button a {
    font-size: 1.8rem;
    width: 25vw;
  }
  .footer-awards-inner {
    max-width: 56rem;
  }
  .copyright {
    padding-bottom: 1rem;
  }
  .copyright-inner {
    max-width: 85%;
  }
  .footer-btns a {
    font-size: 1.2rem;
    width: 10rem;
  }
  .company-info li {
    display: block;
    line-height: 1.5em;
  }
  /* sub-pages : line-notice */
  .sub-wrap .line-notice > div {
    width: 100%;
  }
  .sub-wrap .notice-right-inner {
    background: none;
  }
  .sub-wrap .notice-contents-ani a {
    font-size: 1.4rem;
  }
  .web-info-img {
    display: none;
  }
  .mob-web-info-img {
    display: block;
    width: 25rem;
    transform: translateY(2.5rem);
  }
  .sub-wrap .notice-left-box .notice-plus,
  .sub-wrap .notice-right-inner .notice-plus {
    left: 90%;
  }
  /* sub-pages : sub content */
  .sub-content.odd p {
    right: -10%;
  }
}

@media (max-width: 640px) {
  /* header */
  .mob-menu-list li {
    font-size: 1.8rem;
  }
  /* footer */
  .footer-awards-inner {
    max-width: 20rem;
  }
  /* sub page : common style */
  .sub-wrap .view-more-btn {
    font-size: 1.6rem;
  }
  /* sub-pages (coffee) : banner bxslider */
  .coffee-banner.pc-slider {
    display: none;
  }
  .coffee-banner.mob-slider {
    display: block;
  }
  .coffee-banner.mob-slider .bx-viewport {
    background-color: #000;
  }
  .coffee-banner .mob-slide {
    max-height: 90rem;
    width: 100%;
  }
  .coffee-banner .mob-slide img {
    object-fit: cover;
  }
  /* sub-pages (menu, what's up) : banner bxslider */
  .menu-banner .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager,
  .menu-banner
    .bx-controls.bx-has-controls-auto.bx-has-pager
    .bx-controls-auto {
    bottom: 10%;
    z-index: 99;
  }
  .menu-banner.mob-slider .bx-viewport,
  .what-banner.mob-slider .bx-viewport {
    background-color: var(--green_0d);
  }
  /* sub-pages : sub-content */
  .sub-content {
    height: 175vw;
    max-height: 109.6rem;
  }
  .sub-content-inner {
    height: 100%;
  }
  .sub-content.odd p,
  .sub-content.even p {
    text-align: center;
    width: 31rem;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .sub-content-inner .pc-content-txt {
    display: none;
  }
  .sub-content-inner .mob-content-txt {
    display: block;
    width: 100%;
    margin: 0 auto 2rem;
  }
  .coffee-02-section .mob-content-txt {
    width: 80%;
  }
  .sub-content.odd,
  .sub-content.even {
    background-position: center;
  }
  /* sub-pages (coffee) : sub-content */
  .coffee-01-section {
    background-image: url(https://image.istarbucks.co.kr/img/event/2022/main_coffee_img_221114_1.jpg);
  }
  .coffee-02-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/coffee/m_coffee_bimg2.jpg);
  }
  .coffee-03-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/coffee/m_coffee_bimg3.jpg);
  }
  .coffee-04-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/coffee/m_coffee_bimg4.jpg);
  }
  /* sub-pages (menu) : sub-content */
  .menu-01-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/menu/m_menu_bimg1.jpg);
  }
  .menu-02-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/menu/m_menu_bimg2.jpg);
  }
  .menu-03-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/menu/m_menu_bimg3.jpg);
  }
  .menu-04-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/menu/m_menu_bimg4.jpg);
  }
  .menu-05-section {
    background-image: url(https://image.istarbucks.co.kr/img/event/2022/main_menu_img_221114_1.jpg);
  }
  /* sub-pages (store) : sub-content */
  .store-01-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/store/m_store_bn1_171109.jpg);
  }
  .store-02-section {
    background-image: url(https://image.istarbucks.co.kr/img/event/2022/main_store_img_221114_1.jpg);
  }
  .store-03-section {
    background-image: url(https://image.istarbucks.co.kr/img/event/2022/main_store_img_221114_2.jpg);
  }
  .store-04-section {
    background-image: url(https://image.istarbucks.co.kr/img/event/2022/main_store_img_221114_3.jpg);
  }
  /* sub-pages (responsibility) : sub-content */
  .responsibility-01-section {
    background-image: url(https://image.istarbucks.co.kr/img/event/2022/m_respon_bimg5.jpg);
  }
  .responsibility-02-section {
    background-image: url(https://image.istarbucks.co.kr/img/event/2022/m_respon_bimg1.jpg);
  }
  .responsibility-03-section {
    background-image: url(https://image.istarbucks.co.kr/img/event/2022/m_respon_bimg2.jpg);
  }
  .responsibility-04-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/responsibility/m_respon_bimg3.jpg);
  }
  .responsibility-05-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/responsibility/m_respon_bimg4.jpg);
  }
  /* sub-pages (starbucks rewards) : sub-content */
  .rewards-banner {
    width: 100%;
    height: 150vw;
    max-height: 80rem;
    background: url(https://image.istarbucks.co.kr/common/img/msr/m_msr_main.jpg)
      no-repeat center / cover;
  }
  .rewards-bn-inner > div {
    left: 50%;
    top: 15rem;
    transform: translateX(-50%);
  }
  .rewards-bn-txt {
    margin: 0 auto 2rem;
    width: 33rem;
  }
  .rewards-banner .pc-content-txt {
    display: none;
  }
  .rewards-banner .mob-content-txt {
    display: block;
  }
  .rewards-page-btn {
    width: 40rem;
    display: flex;
    gap: .5rem;
  }
  .rewards-page-btn a,
  .rewards-content-btn a {
    width: 20rem;
    border: .2rem solid #000;
    border-radius: 3px;
    padding: 0.6em 1.2em;
    text-align: center;
    font-size: 1.5rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
    transition: 0.5s;
  }
  .rewards-01-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/msr/m_msr_bimg1.jpg);
  }
  .rewards-02-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/msr/m_msr_bimg2.jpg);
  }
  /* sub-pages (what's new) : promotion-Area */
  .promotion-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  /* sub-pages (what's new) : sub-content */
  .viewAll-btn {
    line-height: 7rem;
    font-size: 2rem;
  }
  .viewAll-btn .view-arr {
    width: 3.2rem;
    height: 3.2rem;
  }
  .what-01-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/whatsnew/m_wh_bimg1.jpg);
  }
  .what-02-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/whatsnew/m_wh_bimg2.jpg);
  }
  .what-03-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/whatsnew/m_wh_bimg3.jpg);
  }
  .what-04-section {
    background-image: url(https://image.istarbucks.co.kr/common/img/whatsnew/m_wh_bimg4.jpg);
  }
}

@media (max-width: 540px) {
  /* header */
  .mob-menu-list li{
    font-size: 1.6rem;
  }
  .mob-search{
    gap: 0.5rem;
  }
  .mob-search input {
    width: 47%;
    height: 3rem;
  }
  .mob-search-btn {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
    padding-block: 0;
  }
  .mob-close-btn {
    width: 2.5rem;
    top: 3rem;
    left: -15%;
  }
  /* main */
  .rewards-info h2 {
    font-size: 2rem;
  }
  .rewards-info span,
  .rewards-gift span {
    font-size: 1.4rem;
  }
  .rewards-signIn-box a {
    font-size: 1.4rem;
  }
  .mob-store-text-box img {
    max-width: 38rem;
  }
  .store-img-box img {
    transform: scale(0.7);
  }
  .store-img-1 {
    left: -25%;
  }
  .store-img-2 {
    top: 15.5rem;
    left: 10rem;
  }
  /* sub-pages (starbucks rewards) : sub-content */
  .rewards-bn-txt {
    margin: 0 auto 2rem;
    width: 30rem;
  }
  .rewards-page-btn {
    width: 30rem;
  }
  .rewards-page-btn a,
  .rewards-content-btn a {
    font-size: 1.2rem;
  }
  .rewards-content-btn {
    width: 100%;
  }
  .rewards-content-btn a {
    width: 48%;
    margin-right: .9rem;
  }
  .rewards-content-btn a:first-child {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  /* common style */
  .mob-view-btn {
    font-size: 4vw;
    width: auto;
    padding: 0.5em 1.8em;
    line-height: 6vw;
  }
  /* favorite section */
  .mob-fav-text img {
    margin-bottom: 2rem;
  }
}
